main {
display: flex;
width: 500px;
height: 700px;
padding: var(--spacing-500, 40px);
flex-direction: column;
align-items: center;
gap: var(--spacing-300, 24px);
flex: 1 0 0;
background-color: black;
margin: auto;
}